<h4 class="mt-5 mb-3">Add/Update Book</h4>
<div class="margin-top">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-2">
                <label>Book Title</label>
            </div>
            <div class="col-4">
                <input type="text" name="title" formControlName="title" maxlength="64">
                <div *ngIf="title.invalid && (title.dirty || title.touched)" >
                    <span class="error text-danger" *ngIf="title.errors.required">
                        Book title is required
                    </span>                            
                </div>                
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2">
                <label>Book Author</label>
            </div>
            <div class="col-4">
                <input type="text" name="author" formControlName="author" maxlength="200">
                <div *ngIf="author.invalid && (author.dirty || author.touched)" >
                    <span class="error text-danger" *ngIf="author.errors.required">
                        Book author is required
                    </span>                            
                </div>                 
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2">
                <label>Serial #</label>
            </div>
            <div class="col-4">
                <input type="text" name="slNo" formControlName="slNo" maxlength="10">
                <div *ngIf="slNo.invalid && (slNo.dirty || slNo.touched)" >
                    <span class="error text-danger" *ngIf="slNo.errors.required">
                        Book seriol number is required
                    </span>
                    <span class="error text-danger" *ngIf="slNo.errors.pattern">
                        Invalid characters
                    </span>                                          
                </div>                
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2">
                <label>Assigned to</label>
            </div>
            <div class="col-4">
                <input type="text" name="assignedTo" formControlName="assignedTo">
            </div>
        </div>         
        <div class="row mt-2">
            <div class="col-8">
                <button type="submit" class="btn btn-primary" (click)="addBook()">Add/Update Book</button>
            </div>
        </div>    
    </form>   
</div>
