
.modal-content {
    padding: 5px;
}

.modal-header {
    padding: 15px 25px 9px;
    .modal-title {
        font-size: 1.5rem;
    }
    .close-button {
        float: right;
    }
}

.modal-body{
    padding: 10px 40px;
}

.margin-top {
    margin-top: 10px;
}